#exdue{
  width: 200px;
  margin-left: 54px;
  height: 43px;
  background-color: #edc915;
  border-color: #edc915;
}

#search{
  display: inline-flex;
  flex-direction: row;
  margin-top: 100px;
}

#jumboh{
  background: #3cc1fa;
  margin: 200px auto;
  height: 300px;
}

.typelist{
  font-size: 19px;
}

.remove{
  margin-right: 113px;
  font-size: 18px;
  margin-top: 5px;
}

.done{
  width: 80px;
  font-size: 18px;
  margin-top: 5px;
}

.drop{
  background-color: #d9d9d9;
}

#jumbo{
  background-color: #03a5fc;
  margin: 35px 0px 100px 0px;
  height: 642px; 
  width: 575px;
  padding-top: 30px;
}

#hrcard{
  background: #fc5a03;
  height: 3px;
  border-radius: 10px;
}

.text{
  font-family: 'Spectral', serif;
  font-size: 20px;
  color: #e8e8e8;
  text-align: justify-all;
}

.cards{
  background-color: #03a5fc;
  padding: 15px;
  margin-top: 40px;
  margin-right: 50px;
  width: 315px;
  border-radius: 5px;
}

.exe{
  margin-top: -40px;
  display: inline-block;
}

.exer1{
  margin-top: -60px;
}

#navbar{
  border-radius: 5px;
  width: 1050px;
  background-color: #03a5fc;
}

#droptype{
  width: 159px;
  margin-left: 191px;  
}

#exdroptype{
  width: 159px;
  margin-left: 54px;  
  height: 43px;
}

#dropstatus{
  width: 159px;
  margin-left: 225px;  
}

#droppriority{
  width: 159px;
  margin-left: 203px; 
  height: 43px; 
}

#exdroppriority{
  width: 159px;
  margin-left: 54px; 
  height: 43px;
}

#dropname{
  width: 159px;
  margin-left: 128px;
}

#cl{
  margin-left: 335px;
}

#cls{
  margin-left: 320px;
}

#new{
  margin-top: -20px;
}

#plan{
  font-family: 'Spectral', serif;
  font-size: 25px;
  color: #ff3700;
  font-style: italic;
  margin-top: 25px;
}

#add{
  margin-right: 340px;
  margin-top: 15px;
  width: 85px;
  height: 45px;
  border-radius: 5px;
  font-size: 18px;

}

#sub{
    margin-top: 15px;
    width: 85px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
}

.newlabel{
  font-family: 'Spectral', serif;
  margin-bottom: 10px;
  font-size: 19.5px;
  color: #ff0000;
  margin-top: 15px;
  margin-right: 47px
}

.exlabel{
  font-family: 'Spectral', serif;
  font-size: 20px;
  color: #e8e8e8;
}

#to{
  margin-left: 90px;
  margin-top: -70px;
  background: none;
}

.h1{
  color: #ff7300;
  font-family: 'Lora', serif;
}

.lead {
  text-align: left;
  margin-left: 130px;
  margin-bottom: 3px;
  margin-top: 20px;
  color: #fffb00;
  font-size: 30px;
  font-family: 'Lora', serif;
}

#body {
  background: url("https://v1.vuetifyjs.com/static/doc-images/parallax/material2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.but {
  text-align: center;
}

#login{
  margin-right: 175px;
  width: 100px;
  height: 45px;
  font-size: 18px;
  border-radius: 10px;
}

#signup{
  width: 100px;
  height: 45px;
  font-size: 18px;
  border-radius: 10px;
}