.home {
    font-family: 'Spectral', serif;    
}

#new{
  margin-top: -20px;
}

#plan{
  font-family: 'Spectral', serif;
  margin-top: 40px;
  font-size: 31px;
  color: #ff8300;
  font-style: italic;
}

#add{
  margin-right: 385px;
  margin-top: 30px;
  width: 85px;
  height: 45px;
  border-radius: 10px;
  font-weight: bold;

}

#sub{
    margin-top: 30px;
    width: 85px;
    height: 45px;
    border-radius: 10px;
    font-weight: bold;
}

.newlabel{
  font-family: 'Spectral', serif;
  font-size: 20px;
  color: #ff8300;
}

#to{
  margin-left: 150px;
  margin-top: -110px;
  background: none;
}

.h1{
  color: #ffffff;
}

.lead {
  text-align: left;
  margin-left: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #ffffff;
  font-size: 25px;
}

#body {
  background: url("https://v1.vuetifyjs.com/static/doc-images/parallax/material2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.but {
  text-align: center;
}

#login{
  margin-right: 150px;
  width: 100px;
  height: 45px;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 30px;
}

#signup{
  width: 100px;
  height: 45px;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 30px;
}